body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    display: grid;
    width: 800px;
    height: 800px;
    margin: 0px;
}

#menu {
    width: 100px;
    height: 700px;
    margin: 25px;
}

.black {
    background-color: black;
}

.color {
    background-color: yellow;       /*temp color*/
}

.opacity {
    background-color: gray;       /*temp color*/
}